Project description:

Please implement an internal corporate web server, accessible to a few corporate offices, through a secured network connection. The web server can be as simple as a static "Hello World" webpage.

The web server should be located in a private subnet, and be accessible only through a VPN (whatever VPN solution you’re comfortable with).

Host the code of the webpage in a GitHub repository.

For every commit to the "master" branch, automatically deploy the code from GitHub to the web server, using Jenkins.

It should be possible to control who can access the web server, and revoke access as needed. Please implement a way you and I can access the server, but only you can add or revoke access easily.

 

The required deliverables are:

GitHub repository address

Jenkins sign-in address + credentials

Webpage address

Instructions for installing the VPN client and connecting + credentials

All information and instructions should be in the README.md file of the GitHub repository 

 

Good luck! :)



This email and any attachments thereto may contain private, confidential, and privileged material for the sole use of the intended recipient.  Any review, copying, or distribution of this email (or any attachments thereto) by others is strictly prohibited.  If you are not the intended recipient, please contact the sender immediately and permanently delete the original and any copies of this email and any attachments thereto.

